@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646818356410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app:before {
  content: "\e602";
}

.icon-msg:before {
  content: "\e607";
}

.icon-policy:before {
  content: "\e608";
}

.icon-device:before {
  content: "\e609";
}

.icon-auth:before {
  content: "\e60a";
}

.icon-perm:before {
  content: "\e60b";
}

.icon-user:before {
  content: "\e60c";
}

.icon-ic_parameter:before {
  content: "\e619";
}

.icon-connect:before {
   content: "\e6c0";
 }
 
.icon-fileAudit:before {
  content: "\e60e";
}

