.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: unset;
}

.modalStyle {
  :global {
    .ant-modal-content > .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-content > .ant-modal-footer {
      border-top: none;
    }

    .ant-pro-card-split-vertical {
      border-right: 0;
    }

    .ant-modal-body {
      padding-top: 10px;
    }

    .ant-modal-footer {
      padding: 10px 40px;
    }
  }
}

.leftDiv {
  width: 60%;
  height: 100%;
}

.rightDiv {
  width: 40%;
  height: 100%;
  background: #f5f5f6;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 43px;
  margin-right: 10px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #d7d7dc;
  border-radius: 4px;
  box-shadow: 0 1px 0 #d7d7dc;
}

.displayWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}
